{% extends "base.html" %}
{% block meta %}
    {% if res.state != "begin" %}
        <meta http-equiv="refresh" content="20; URL={% url "add_check" place.pk%}" />
    {% endif %}
{% endblock %}

{% block content %}
    <div class="row justify-content-md-center"><h2>{{place.name}}</h2></div>

    {% if res.state != "begin" %}
        {% if res.state == "cardnotfound" %}
            <div class="jumbotron" style="background-color: lightcoral">
            <h1 class="display-7">Carte VA non trouvée</h1>
            <p class="lead">Carte : {{res.card_number}}</p>
            </div>
        {% elif res.state == "notvamember" %}
            <div class="jumbotron" style="background-color: lightcoral">
                <h1 class="display-5">Pas adhérent VA cette année !</h1>
                <h1 class="display-7">{% if res.gender == "M" %}<i class="fas fa-mars fa-lg"></i>{% elif res.gender == "W" %}<i class="fas fa-venus fa-lg"></i>{% endif %} {{res.first_name|lower|capfirst}} {{res.last_name|upper}}</h1>
                <p class="lead">Carte : {{res.card_number}}</p>
            </div>
        {% elif res.state == "seemslegit" %}
            <div class="jumbotron" style="background-color:forestgreen">
            <h1 class="display-7">{% if res.gender == "M" %}<i class="fas fa-mars fa-lg"></i>{% elif res.gender == "W" %}<i class="fas fa-venus fa-lg"></i>{% endif %} {{res.first_name|lower|capfirst}} {{res.last_name|upper}}</h1>
            <p class="lead">Dernier passage : {% if res.last_seen is not None %} Il y a {{res.last_seen|timesince}} ({{res.last_seen}}) {% else %}Jamais{% endif %}</p>
        </div>
        {% elif res.state == "seemsnotlegit" %}
            <div class="jumbotron" style="background-color:darkorange">
                <h1 class="display-5">Passé il y a peu !</h1>
            <h1 class="display-7">{% if res.gender == "M" %}<i class="fas fa-mars fa-lg"></i>{% elif res.gender == "W" %}<i class="fas fa-venus fa-lg"></i>{% endif %} {{res.first_name|lower|capfirst}} {{res.last_name|upper}}</h1>
            <p class="lead">Dernier passage : Il y a {{res.last_seen|timesince}} ({{res.last_seen}})</p>
        </div>
        {% endif %}
    {% endif %}
    <div class="row justify-content-md-center">
        <div class="col-6">
            <div class="card text-center">
                <div class="card-header">
                    Vérifier un passage
                </div>
                <div class="card-body">
                    <form method="post" action="">
                        {% csrf_token %}
                        <p>{{form.card_number}}</p>
                        <button class="btn btn-primary" style="width:100%">Enregistrer</button>
                    </form>
                </div>
              <div class="card-footer text-muted">
                Déjà {{place.today_check}} client{{place.today_check|pluralize}} aujourd'hui
              </div>
            </div>
        </div>
    </div>
{% endblock %}
